*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    background-color: bisque;
}

header figure{
    background-image: url(./imagenes/design1_image2.jpg);
    background-size:cover;
    height: 500px;
    background-position: center;
    margin-top: 30px;  
    border-radius: 64px 65px 65px 65px;
    -webkit-border-radius: 64px 65px 65px 65px;
    -moz-border-radius: 64px 65px 65px 65px;
    border: 13px double #a70f05;
}

h1 {
    position: absolute;
    top: 550px;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    color: #a70f05;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.48);
}

nav {
    position: absolute;
    top: 700px;
    width: 100%;
    text-align: right;
    padding-right: 5rem;
}

nav a {
    background-color: rgb(108, 24, 5);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    border-radius: 19px;
    text-decoration: none;
    border-top: 5px double #ff6550;
    border-bottom: 5px double #ff6550;
}

.active {
    background-color: green;
}

.banner {
    padding: 1rem;
    color: black;
    text-align: center;
    position: absolute;
    top: 50rem;
    left: 35%;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    text-decoration: underline;
}

section h3 {
    font-size: 2rem;
    font-weight: 600;
    
}

section p {
    font-size: 1.5rem;
    font-weight: 600;  
}

section {
    padding: 1.5rem;
}

main {
    display: inline-block;
    vertical-align: top;
    margin-top: 25rem;
    width: 65%;
    min-height: 350px;
}

.logo {
    padding: 1rem 2rem;
    position: relative;
    display: inline-block;
    top: 200px;
    width: 30%;
    height: auto;
}

.logo img {
    width: 100%;
}

.imagen {
    width: 30%;
    padding: 1rem 2rem;
    margin-top: 4rem;
}

.imagen img{
    width: 100%;
    border-radius: 2rem;
}

.middle-info {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 50px;
    border-spacing: 24px;       
}

table th, table td{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.cursiva {
    font-style: italic;
}

.information p span {
    font-weight: 700;   
}

.information p {
    padding: 10px;
    font-weight: 400;
}

.espacio {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.info-contact {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.middle-info section h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.middle-info section p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.middle-info section ol, ul, li, span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.middle-info section ol li span {
    font-weight: 700;
}

ol, ul {
    list-style-position: inside;
}

.lista-separada li, h2 {
    margin-bottom: 40px;
}

.lista-unida li {
    margin: 0px;
}

.central {
    text-align: center;
    padding-bottom: 100px;
}

.central h2 {
    margin-bottom: 0; 
}

.sangria {
    text-indent: 80px;
}

.correr {
    padding-left: 120px;
    padding-bottom: 100px;
}